@use '../fonts.sass' as fonts
@use '../solarized.sass' as solarized

.label-container
  @include fonts.text-font
  background-color: solarized.$base2
  display: inline-block
  width: 400px
  padding: 10px 20px
