@use '../solarized.sass' as solarized
@use '../fonts.sass' as fonts

a > div
  text-decoration: none

.header-container
    display: flex
    align-items: end
    margin-left: 80px
    margin-right: 80px

    .name-container
      width: 35%

    .brand-container
      background-color: solarized.$cyan
      display: flex
      align-items: end
      padding: 30px 40px
      width: fit-content

      .text
        color: solarized.$base3

      .artist-name img
        width: 200px
        height: unset

    .menu-container
      display: flex
      justify-content: space-between
      width: 65%

      .menu-item
        @include fonts.menu-font
        flex-grow: 1
        display: flex
        justify-content: center
        align-items: center
        text-decoration: None

