@use '../solarized.sass' as solarized
@use '../fonts.sass' as fonts


.picture-container
  display: flex
  align-items: flex-end
  justify-content: space-around
  width: fit-content

  .picture
    display: flex
    flex-direction: column
    max-width: 750px

    img
      max-width: 100%
    
    .caption
      text-align: right
      @include fonts.text-font
      font-size: 12px
