@use '../fonts.sass' as fonts

.body-container
  display: flex
  align-content: flex-start
  flex-wrap: wrap
  justify-content: space-around
  column-gap: 1.5em

  .pic 
    max-height: 600px

  .title
    flex-basis: 100%
    flex-shrink: 0
    padding-bottom: 1.5em

@media (min-width: 1180px)
  .body-container .text-field .title
    display: none
