@mixin menu-font
  font-family: Aboreto
  font-weight: bold
  font-size: 1.2em;

@mixin title-font
  font-family: Garamond
  font-weight: 700

@mixin text-font
  font-family: Assistant
  font-weight: 400 
